esg-rag-analysis-pipeline.json
{
  "name": "ESG RAG Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "a0e7255e-5c76-45b2-9163-e3b0afb082c2",
      "name": "When Email with PDF Arrives",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        304
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "UxpwMJJ0JdHRhW0J",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $json.from }}"
        }
      },
      "id": "f42c6bf2-c81b-41af-bcd2-b1dfeb60ed51",
      "name": "Store in Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        304
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "id": "c7914c4b-2bd8-45ce-8710-4fc159dbc29a",
      "name": "Load PDF",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        528
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "1aea5a12-0a6d-4994-9554-3a9aab8af7e7",
      "name": "Split Text",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        736
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "esg_score",
              "type": "number",
              "description": "Overall ESG score from 0-100 based on environmental, social, and governance factors",
              "required": true
            },
            {
              "name": "environmental_score",
              "type": "number",
              "description": "Environmental pillar score (0-100) covering carbon emissions, resource use, waste management",
              "required": true
            },
            {
              "name": "social_score",
              "type": "number",
              "description": "Social pillar score (0-100) covering labor practices, community impact, diversity",
              "required": true
            },
            {
              "name": "governance_score",
              "type": "number",
              "description": "Governance pillar score (0-100) covering board structure, ethics, transparency",
              "required": true
            },
            {
              "name": "carbon_footprint_tons",
              "type": "number",
              "description": "Total carbon footprint in metric tons CO2 equivalent",
              "required": true
            },
            {
              "name": "carbon_intensity",
              "type": "number",
              "description": "Carbon intensity ratio (tons CO2 per revenue unit)"
            },
            {
              "name": "sustainability_summary",
              "description": "Brief summary of key sustainability initiatives and achievements",
              "required": true
            },
            {
              "name": "key_risks",
              "description": "Main ESG risks identified in the document"
            },
            {
              "name": "recommendations",
              "description": "Recommended actions for improvement"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert ESG analyst. Analyze the provided sustainability document and extract accurate ESG scores, carbon footprint data, and insights. Base your scores on industry standards and the specific metrics mentioned in the document. Be precise with numerical values."
        }
      },
      "id": "0e4cc581-b420-43ac-8014-dfc46ac7c481",
      "name": "Extract ESG Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "model": "<__PLACEHOLDER_VALUE__Model name (e.g., llama3.2, llama3.1)__>",
        "options": {
          "temperature": 0.3,
          "numCtx": 4096
        }
      },
      "id": "1e689840-b052-44f1-86cf-6d7f6c74e30f",
      "name": "Llama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1040,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate structured ESG report as HTML then convert to PDF\nconst items = $input.all();\nconst data = items[0].json;\nconst emailData = $('When Email with PDF Arrives').first().json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; }\n    h1 { color: #2c5f2d; border-bottom: 3px solid #2c5f2d; }\n    h2 { color: #4a7c59; margin-top: 30px; }\n    .score-box { \n      background: #f0f8f0; \n      padding: 15px; \n      margin: 10px 0; \n      border-left: 4px solid #2c5f2d;\n    }\n    .metric { margin: 10px 0; }\n    .label { font-weight: bold; color: #333; }\n    .value { color: #2c5f2d; font-size: 1.2em; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background-color: #2c5f2d; color: white; }\n  </style>\n</head>\n<body>\n  <h1>ESG & Sustainability Analysis Report</h1>\n  <p><strong>Generated:</strong> ${new Date().toLocaleDateString()}</p>\n  <p><strong>Source:</strong> ${emailData.subject || 'Email Attachment'}</p>\n  \n  <h2>Overall ESG Score</h2>\n  <div class=\"score-box\">\n    <div class=\"metric\">\n      <span class=\"label\">Total ESG Score:</span>\n      <span class=\"value\">${data.esg_score}/100</span>\n    </div>\n  </div>\n  \n  <h2>Pillar Scores</h2>\n  <table>\n    <tr>\n      <th>Pillar</th>\n      <th>Score</th>\n      <th>Rating</th>\n    </tr>\n    <tr>\n      <td>Environmental</td>\n      <td>${data.environmental_score}/100</td>\n      <td>${data.environmental_score >= 70 ? 'Strong' : data.environmental_score >= 50 ? 'Moderate' : 'Needs Improvement'}</td>\n    </tr>\n    <tr>\n      <td>Social</td>\n      <td>${data.social_score}/100</td>\n      <td>${data.social_score >= 70 ? 'Strong' : data.social_score >= 50 ? 'Moderate' : 'Needs Improvement'}</td>\n    </tr>\n    <tr>\n      <td>Governance</td>\n      <td>${data.governance_score}/100</td>\n      <td>${data.governance_score >= 70 ? 'Strong' : data.governance_score >= 50 ? 'Moderate' : 'Needs Improvement'}</td>\n    </tr>\n  </table>\n  \n  <h2>Carbon Footprint Analysis</h2>\n  <div class=\"score-box\">\n    <div class=\"metric\">\n      <span class=\"label\">Total Carbon Footprint:</span>\n      <span class=\"value\">${data.carbon_footprint_tons.toLocaleString()} tons CO₂e</span>\n    </div>\n    ${data.carbon_intensity ? `\n    <div class=\"metric\">\n      <span class=\"label\">Carbon Intensity:</span>\n      <span class=\"value\">${data.carbon_intensity} tons CO₂e per unit</span>\n    </div>\n    ` : ''}\n  </div>\n  \n  <h2>Sustainability Summary</h2>\n  <p>${data.sustainability_summary}</p>\n  \n  ${data.key_risks ? `\n  <h2>Key ESG Risks</h2>\n  <p>${data.key_risks}</p>\n  ` : ''}\n  \n  ${data.recommendations ? `\n  <h2>Recommendations</h2>\n  <p>${data.recommendations}</p>\n  ` : ''}\n  \n  <hr style=\"margin-top: 40px;\">\n  <p style=\"font-size: 0.9em; color: #666;\">\n    This report was generated automatically using AI-powered ESG analysis.\n  </p>\n</body>\n</html>\n`;\n\n// Convert HTML to PDF using a simple approach\n// In production, you'd use a proper PDF library or service\nconst pdfBuffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: {\n    reportGenerated: true,\n    recipient: emailData.from,\n    subject: 'ESG Analysis Report - ' + (emailData.subject || 'Your Document'),\n    ...data\n  },\n  binary: {\n    data: {\n      data: pdfBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'ESG_Report_' + new Date().toISOString().split('T')[0] + '.html'\n    }\n  }\n}];"
      },
      "id": "f5d6fc11-659d-497f-8c69-23326099938d",
      "name": "Generate PDF Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient }}",
        "subject": "={{ $json.subject }}",
        "message": "=Dear Recipient,\n\nPlease find attached your ESG & Sustainability Analysis Report.\n\nKey Findings:\n• Overall ESG Score: {{ $json.esg_score }}/100\n• Environmental Score: {{ $json.environmental_score }}/100\n• Social Score: {{ $json.social_score }}/100\n• Governance Score: {{ $json.governance_score }}/100\n• Carbon Footprint: {{ $json.carbon_footprint_tons }} tons CO₂e\n\nThe detailed report is attached.\n\nBest regards,\nESG Analysis System",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "744d4bc5-9db4-4b5a-a952-fed3a45bc427",
      "name": "Email Report to Sender",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        304
      ],
      "webhookId": "2893fd5e-f550-4656-b546-52d712e79326",
      "credentials": {
        "gmailOAuth2": {
          "id": "UxpwMJJ0JdHRhW0J",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        432,
        672
      ],
      "id": "dfeb7ded-5bee-4df3-b07a-9d1c41e4b353",
      "name": "Embeddings Cohere"
    }
  ],
  "pinData": {},
  "connections": {
    "When Email with PDF Arrives": {
      "main": [
        [
          {
            "node": "Store in Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Pinecone": {
      "main": [
        [
          {
            "node": "Extract ESG Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load PDF": {
      "ai_document": [
        [
          {
            "node": "Store in Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Text": {
      "ai_textSplitter": [
        [
          {
            "node": "Load PDF",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract ESG Data": {
      "main": [
        [
          {
            "node": "Generate PDF Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract ESG Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Report": {
      "main": [
        [
          {
            "node": "Email Report to Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Store in Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a736233-376a-4b5f-b8b4-75e1deae8093",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73e57b318f322a6efdb02f0ecb02ed9bdc43ebcb8b77d1de84da8a38ab48530c"
  },
  "nodeGroups": [],
  "id": "axsiZg0M1nZTHPn0",
  "tags": []
}